.jogo {
    text-align: center; /* Centraliza o texto horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens no eixo horizontal */
    justify-content: center; /* Centraliza os itens no eixo vertical */
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 50%; /* Ajuste conforme necessário */
}

/*  background: linear-gradient(to bottom, #6278F7 , #A3B1FB); Gradiente de cima para baixo */

.jogo h3{
    text-align: center;
    justify-content: center;
    color: #000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 4px solid #fff;
    display: inline-block;
    padding: 2px; /* Reduz o espaçamento interno */
    width: auto; /* Ajusta a largura ao conteúdo */
    margin: 0 auto; /* Centraliza o texto horizontalmente */
}

.jogadores{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 12px; /* Espaçamento entre os jogadores */

}