
.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.lista-suspensa select{
    width: 100%;
    padding: 20px; /* Reduz o padding para diminuir a altura */
    border: none;
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    border-radius: 4px;
    font-size: 16px; /* Ajusta o tamanho da fonte para combinar com a altura */
    color: #333;
    box-sizing: border-box;
}