html, body {
    margin: 0;
    padding: 0;
    height: auto; /* Garante que o body ocupe toda a altura da tela */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6278F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.jogos {
    margin-top: 35rem; /* Empurra os jogos para o final */
    text-align: center;
}

#root {
    height: 100%; /* Garante que o contêiner principal ocupe toda a altura */
    background: none; /* Remove qualquer cor de fundo */
}


